fastapi
uvicorn
pydantic
pydantic-settings
prisma
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sentence-transformers
langchain
langchain-community
faiss-cpu
chromadb
PyMuPDF
python-dotenv
groq
openai
rank_bm25
numpy
pandas
python-docx
